/.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
/moose-emmy
/opsdcs-camcontrol
/opsdcs-crew/Scripts/opsdcs-crew/sounds
/opsdcs-fm/build
/opsdcs-pmca
/opsdcs-samsites
/opsdcs-setup/stubs/fm-stubs.cpp
/opsdcs-setup/stubs/mist-stubs.lua
/opsdcs-setup/commands-wip
/opsdcs-tacview
/scratch
*.png
/goldeneye/_old/*
