/.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
/moose-emmy
/opsdcs-camcontrol
/opsdcs-crew/Scripts/opsdcs-crew/sounds
/opsdcs-fm/build
/opsdcs-fm/demangled
/opsdcs-fm/headers
/opsdcs-fm/dumps
/opsdcs-fm/*.txt
/opsdcs-fm/*.py
/opsdcs-fm/*.bat
/opsdcs-pmca
/opsdcs-samsites
/opsdcs-setup/stubs/fm-stubs.cpp
/opsdcs-setup/stubs/mist-stubs.lua
/opsdcs-setup/commands-wip
/opsdcs-setup/howto
/opsdcs-tacview
/opsdcs-eddi
/scratch
*.png
/goldeneye/_old/*
/lua-python-bridge/build
